<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    {% include "headlinks.html" with context %}
</head>
<body>
    <header>
        <div class="shapka">
            <div><img class="LeftImage" src="{{ url_for('static', path='img/BlackUniLogoRectangle.png') }}"></div>
            <div><img class="RightImage" src="{{ url_for('static', path='img/InnologoBlack.png') }}"></div>
        </div>
    </header>

    <form action="/users/log_in" class="authorizationWindow" method="post">
        <div class="innerAuthWind">
            <img class="authLogo" src="{{ url_for('static', path='img/IUNewLogo.png') }}">
            <div class="vvod">
                <input name="username" class="authorizationBar" placeholder="Enter the username">
                <input name="password" style="margin-top: 10px" type="password" class="authorizationBar" placeholder="Enter the password">
            </div>

            <div style="display: flex; justify-content: space-between; width: 220px; margin-top: 10px;">
                <button type="submit" class="logInButton">Log in</button>
                <a href="/users/register">
                    <button type="button" class="logInButton" style="background: #C0BFBF; color: black;">Register</button>
                </a>
            </div>
        </div>
    </form>

    {% if error_message %}
        <p class="authorizationError">{{ error_message }}</p>

    {% elif created %}
        <p style="color: green; text-align: center;">User successfully created!</p>

    {% endif %}
</body>
</html>
