<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    {% include "headlinks.html" with context %}
</head>
<body>
    <header>
        <div class="shapka">
            <div><img class="LeftImage" src="{{ url_for('static', path='img/BlackUniLogoRectangle.png') }}"></div>
            <div><img class="RightImage" src="{{ url_for('static', path='img/InnologoBlack.png') }}"></div>
        </div>
    </header>
    {% include "navigationBar.html" %}

    <form method="post" action="/users/change_password" class="authorizationWindow" style="height: auto; padding: 20px">
        <div class="innerAuthWind" style="height: auto; gap: 10px">
            <h2 style="margin-bottom: 10px; font-family: 'Outfit', sans-serif;">Set new password</h2>
            <input name="old_password" class="authorizationBar" type="password" placeholder="Old password">
            <input name="new_password" style="margin-top: 10px" type="password" class="authorizationBar" placeholder="New password">
            <button type="submit" class="logInButton">Save</button>
        </div>
    </form>

    {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}



</body>
</html>
