<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% include "headlinks.html" %}
</head>
<body>

    <!-- Шапка -->
    <header>
        <div class="shapka">
            <div><img class="LeftImage" src="{{ url_for('static', path='img/BlackUniLogoRectangle.png') }}"></div>
            <div><img class="RightImage" src="{{ url_for('static', path='img/InnologoBlack.png') }}"></div>
        </div>
    </header>
    {% include "navigationBar.html" %}


    <div class="hint">
        Welcome back,<br>
        {{ user_profile.username }}!
    </div>


    <div class="threeButtons">
        <button class="downloadButton csvDownload">CSV экспорт</button>
        <button class="downloadButton excelDownload">Excel экспорт</button>
        <button class="downloadButton jsonDownload">JSON экспорт</button>
    </div>

</body>
</html>
