<div class="mainMenu">
  <div class="navigationButtons">
    <a class="menuButton" href="/dashboard"><div class="navB {% if request.path == '/dashboard' %} openedPage {% endif %}"> Dashboard </div></a>
    <a class="menuButton" href="/notes/my_notes"><div class="navB {% if request.path == '/notes/my_notes' %} openedPage {% endif %}">My notes</div></a>
    <a class="menuButton" href="/users/profile"><div class="navB {% if request.path == '/users/profile' %}openedPage{% endif %}">Profile</div></a>

  </div>
  <button style="margin-right: 5px" class="exitButton"><a style="text-decoration: none; color: black" href="/">Log out</a></button>
</div>