<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% include "headlinks.html" with context %}
</head>
<body>
    <header>
        <div class="shapka">
            <div><img class="LeftImage" src="{{ url_for('static', path='img/BlackUniLogoRectangle.png') }}"></div>
            <div><img class="RightImage" src="{{ url_for('static', path='img/InnologoBlack.png') }}"></div>
        </div>
    </header>
    <form action="/users/register" class="registrationWindow" method="post">
        <div class="innerRegWind">
            <img class="authLogo" src="{{ url_for('static', path='img/IUNewLogo.png') }}">
            <div class="vvod">
                <input name="username" class="authorizationBar" placeholder="Username">
                <input name="full_name" class="authorizationBar" placeholder="Full Name" style="margin-top: 10px;">
                <input name="email" class="authorizationBar" placeholder="Email" style="margin-top: 10px;">
                <input name="password" type="password" class="authorizationBar" placeholder="Password" style="margin-top: 10px;">
            </div>
            <div>
                <button type="submit" class="logInButton">Register</button>
            </div>
        </div>
    </form>
    {% if request.query_params.get("error") %}
        <pre class="authorizationError">{{ request.query_params.get("error") }}</pre>
    {% endif %}
</body>
</html>
